@import "~bootstrap/dist/css/bootstrap.min.css";

.navbar {
  height: 60px;
  background-color: #fff;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EEEEEE;
  width: 100%;
}
.navbar.main {
  top: 0;
  position: fixed;
  border-bottom-width: 2px;
  z-index: 5;
}
.navbar.secundary {
  height: 50px;
  margin-top: 60px;
}
.brand {
  background-color: #104263;
  height: 60px;
  padding-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  min-width: 210px;
}
.topbar-icons > .nav-item {
  font-size: 20px;
  min-width: 40px;
  border-left: 1px solid #EEEEEE;
  text-align: center;
  color: #BDBDBD;
}
.nav-item.account-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.nav-item.account-section > .dropdown > button, button:hover, button:focus {
  background-color: #fff;
  color: #BDBDBD;
  border: none;
  box-shadow: none !important;
}
.nav-item.account-section > .dropdown > .dropdown-menu.show {
  min-width: 0px !important;
}
.nav-items-containter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items-right {
  display: flex;
  justify-content: flex-end;
}
.nav-items-left {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  align-items: center;
}
.nav-item {
  color: #757575;
  font-size: 14px;
}
.nav-item > button > svg {
  font-size: 24px;
  margin-right: 5px;
  cursor: pointer;
  color: #BDBDBD;
}
.nav-item > button {
  background-color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item > button > span {
  color: #757575;
}
.nav-item > a {
  display: flex;
  justify-content: start;
  align-items: center;
}
.nav-item > select {
  cursor: pointer;
}
.menu_icon_container {
  display: none;
}
.search-form {
  display: flex;
  align-items: center;
  padding: 0px 5px 0px 10px;
}
.search-form > input {
  border: none;
  width: 100px;
  font-size: 14px;
  margin-left: -3px;
}
.search-form > svg {
  font-size: 20px;
  color: #BDBDBD;
}
.search-form > input:focus-within {
  box-shadow: none;
}
.fx-popover {
  z-index: 9999;
}
.fx-tag-checkbox {
  margin-top: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.fx-tag-checkbox > input {
  height: 14px;
  width: 14px;
  margin-top: 0;
}
@media(max-width: 480px) {
  .nav-items-containter {
    display: none;
  }
  .menu_icon_container {
    display: block;
    cursor: pointer;
  }
}