@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~material-icons/iconfont/material-icons.css";

.main-container {
  background-color: #fff;
  padding-top: 0;
}
.main-content {
  margin-left: 210px; /* Same as the width of the sidenav */
}
.react-datepicker-wrapper {
  margin-bottom: 8px;
}
@media(max-width: 768px) {
  .main-content {
    margin-left: 0px;
  }
}