
.stage {
    width: 280px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid #EEEEEE;
    background-color: #fff;
    text-align: center;
    padding: 15px 5px;
}
.stage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 7px;
    margin-bottom: 7px;
}
.stage-actions-menu {
    font-size: 32px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}
.stage-actions-menu:hover {
    background-color: #dedede;
}
.stage-header-left {
    display: flex;
    justify-content: start;
    align-items: baseline;
}
.stage-header-left > .badge {
    width: 32px;
    height: 28px;
    font-size: 14px;
    font-weight: 600;
    padding-top: 7px;
}
.stage-header-left > h6 {
    margin-left: 10px;
}
.stage-bottom-bar {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    margin-top: 2px;
    color: #212121;
}
.stage-bottom-bar:hover, .stage-bottom-bar > *:hover {
    background-color: darkgray;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
}
.cards-holder {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.cards-holder > .smooth-dnd-container {
    min-height: 120px;
}
.cards-holder > .fx-card {
    margin-top: 5px;
}
label {
    margin-bottom: 0;
}
.card-form-tags {
    display: flex;
    justify-content: start;
    align-items: center;
}
.card-form-tags > .tag-item {
    margin-right: 10px;
    font-size: 14px;
    color: #fff;
}
.overlay-show-stage-menu {
    width: 180px;
}
.overlay-show-stage-menu > .tooltip-inner {
    background-color: #fff;
    color: darkgray;
    border: 1px solid darkgray;
    padding: 10px;
}
.overlay-menu-item {
    display: flex;
    align-items: center;
    padding: 7px;
}
.overlay-menu-item > svg {
    margin-right: 5px;
}
.overlay-menu-item.actions {
    color: #212121;
}
.overlay-menu-item.actions:hover, .overlay-menu-item.actions > span:hover {
    background-color: #B0BEC5;
    cursor: pointer;
}
.drop-preview {
    border: 2px dashed #B0BEC5;
}
.cards-to-move {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: #929292 0px 3px 6px;
}