.fx-card {
    border-radius: 5px;
    text-align: start;
}
.card-text {
    font-size: 12px;
}
.card-body {
    padding: 1.0rem;
}
.fx-card-footer {
    font-size: 12px;
}
.fx-tag {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 12px;
    color: #616161;
}
.fx-tag > svg {
    margin-right: 5px;
    color: #757575;
    font-size: 13px;
}
.fx-card-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.selected-card {
    border-color: #81D4FA;
}
.card-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}