@import "~bootstrap/dist/css/bootstrap.min.css";

.sidenav {
  height: 100%;
  width: 210px;
  margin-top: 58px;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #2270a9;
  overflow-x: hidden;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.sidenav > .menu-item-section {
  background-color: #1d6090;
  height: 32px;
  padding: 5px 12px;
}
.sidenav-item {
  padding: 6px 8px 6px 30px;
  display: block;
  cursor: pointer;
  color: #fff;
}
.sidenav-item:hover {
  background-color: #01579b;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
@media (max-width: 768px) {
  .sidenav {
    display: none;
  }
}
